<h2>This client's name is: <%= @client.name() %>. Their stylist is: <%= @stylist.name() %></h3>

<h3>Change their Name:</h3>
<form action="/clients/<%= @client.id() %>" method="post">
  <input name='_method' type='hidden' value='patch'>
  <div class="form-group">
    <label for="new_name">Their new name:</label>
    <input id='new_name' name='new_name'>
  </div>
  <button type="submit" class="btn btn-info">Change Name</button>
</form>

<h3>Delete this Client:</h3>
<form action="/clients/<%= @client.id() %>" method="post">
  <input name='_method' type='hidden' value='delete'>
  <button type='submit' class='btn btn-danger'>Delete 'Em!</button>
</form>
<a href='/stylists/<%= @stylist.id() %>'>Return to <%= @stylist.name() %>'s Page</a>
<br>
<a href='/'>Return Home</a>
