<h2><%= @stylist.name() %></h2>

<div class="well">
  <% if @stylist.clients.any?() %>
    <h3>These are <%= @stylist.name() %>'s clients.</h3>
    <% @stylist.clients.each() do |client| %>
      <a href='/clients/<%= client.id() %>'><%= client.name() %></a><br>
    <% end %>
  <% else %>
    <h3> <%= @stylist.name() %> doesn't have any clients yet. Bummer. </h3>
  <% end %>
</div>

<div class="well">
  <h3>Add a client for <%= @stylist.name() %>.</h3>
  <form action="/stylists/<%= @stylist.id() %>" method="post">
    <input id="stylist_id" name="stylist_id" value="<%= @stylist.id() %>" type="hidden">
    <div class="form-group">
      <input id="client_name" name="client_name" placeholder="Client Name">
    </div>
    <button type="submit" class='btn btn-info'>Add Client</button>
  </form>
</div>

<div class="well">
  <h3>Change <%= @stylist.name() %>'s name.</h3>
  <form action="/stylists/<%= @stylist.id() %>" method="post">
    <input name='_method' type='hidden' value='patch'>
    <div class="form-group">
      <input id='new_name' name='new_name' placeholder="New Name">
    </div>
    <button type="submit" class='btn btn-info'>Change Name</button>
  </form>
</div>

<div class="well">
  <h3>Fire this stylist.</h3>
  <form action='/stylists/<%= @stylist.id() %>' method='post'>
    <input name='_method' type='hidden' value='delete'>
    <button type='submit' class='btn btn-danger'>Get Outta My Sight!</button>
  </form>
</div>


<a href='/'>Return to Home</a>
