<h1>Hair Salon Owner Page</h1>
<h2>This is <%= @stylist.name() %>'s profile page</h2>

<% if @stylist.clients.any?() %>
  <h3>These are <%= @stylist.name() %>'s clients</h3>
  <% @stylist.clients.each() do |client| %>
    <li><%= client.name() %></li>
  <% end %>
<% else %>
  <h3> <%= @stylist.name() %> doesn't have any clients yet. Bummer. </h3>
<% end %>

<h3>Add a Client for <%= @stylist.name() %></h3>
<form action="/stylists/<%= @stylist.id() %>" method="post">
  <input id="stylist_id" name="stylist_id" value="<%= @stylist.id() %>" type="hidden">
  <div class="form-group">
    <input id="client_name" name="client_name" placeholder="Client Name">
  </div>
  <button type="submit">Add Client</button>
</form>

<h3>Modify this Stylist's Profile</h3>
<form action="/stylists/<%= @stylist.id() %>" method="post">
  <input name='_method' type='hidden' value='patch'>
  <div class="form-group">
    <label for="new_name">Change <%= @stylist.name() %>'s name to:</label>
    <input id='new_name' name='new_name'>
  </div>
  <button type="submit" class='btn btn-primary'>Change Name</button>
</form>

<h3>Fire this Stylist</h3>
<p>Warning, this will also remove all their clients from your database</p>
<p>But to be fair, if you're firing them, it's probably because they don't have any.</p>
<form action='/stylists/<%= @stylist.id() %>' method='post'>
  <input name='_method' type='hidden' value='delete'>
  <button type='submit' class='btn btn-danger'>Get Outta My Sight!</button>
</form>



<a href='/stylists'>Return to Stylists Page</a>
<br>
<a href='/'>Return to Home</a>
